.center {
  text-align: center;
}

html, body {
  margin: 0px;
  height: 100%;
}

#main {
  font-family: 'Roboto', 'Noto', sans-serif;
}

#header {
  background-color: #03A9F4;
  color: #FFFFFF;
  
  top: 0px;
  left: 0px;
  right: 0px;
  
  padding-top: 30px;
  padding-bottom: 30px;
}

#between {
  font-size: 14px;
  
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  background-color: #03A9F4;
  color: #FFFFFF;
  
  font-size: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #FFFFFF;
}

#result_container {
  margin-top: 10px;
}

.footnote {
  font-size: 12px;
  color: #777777;
}

#github {
  text-decoration: none;
}